.login-container {
    font-family: "Poppins", sans-serif;
    padding-top: 10%;
    padding-bottom: 9%;
    background-color: #000;
    color: white;
}

.custom-btn {
    padding: 0.6rem;
    border-radius: 20px;
}

.custom-btn-white {
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 14px;
}
.twitterLogo{
    display: block;
}

@media only screen and (max-width: 450px) {
    .twitterLogo{
        height: 90% !important;
        width: 30% !important;
    }
    .card-body{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

